@use '../../styles/variables.scss' as *;

.footer {
  // position: fixed;
  // bottom: 0;
  display: flex;
  width: 100%;
  background-color: $col-primary;
  justify-content: space-between;
  margin-top: 2rem;
  background-color: rgba(#397DED , .5) ;

  &__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__link {
    margin: $margin-mobile;
    font-size: small;
    width: 100%;
  }
  &__socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
